.title__horror {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.slide__img__wrapper {
  margin: 0 10px;
}

/* ===== Media Query(Tablet Devices) ===== */
@media screen and (max-width: 1024px) {
  .title__horror {
    font-size: 45px;
  }
}
/* ===== Media Query(Mobile Devices) ===== */
@media screen and (max-width: 600px) {
  .title__horror {
    font-size: 40px;
  }
}